/2024/Day 1/.gitignore
/2024/Day 1/.idea/.gitignore
/2024/Day 1/.idea/codeStyles/codeStyleConfig.xml
/2024/Day 1/.idea/codeStyles/Project.xml
/2024/Day 1/.idea/inspectionProfiles/Project_Default.xml
/2024/Day 1/.idea/kotlinc.xml
/2024/Day 1/.idea/libraries/KotlinJavaRuntime.xml
/2024/Day 1/.idea/misc.xml
/2024/Day 1/.idea/modules.xml
/2024/Day 1/.idea/zigbrains.xml
/2024/Day 1/Day 1.iml
